//All styling not included in materialize related to forms
input[type='email'],
input[type='password'],
input[type='text'] {
  background-repeat: no-repeat;
  background-position: -200px 0;
  background-size: 200px 100%;
  //background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, $primary-color 96%);
  border-bottom: solid 1px $primary-color;
  color: $primary-color;
}
