//All styling not included in materialize related to forms
.input-field {
  .input-bar {
    position: relative;
    display: block;

    &:before, &:after{
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $input-accent-color;
      transition: 0.2s ease all;
    }
    &:before {
      left: 0;
    }

  }
  .input-control  {
    background: transparent;
    border-color: $muted-color;
    width: 100%;
    margin-bottom: 0px;
    &:focus {
      border-color: transparent !important;
      & ~ :before
       {
        width: 100%;
      }
    }
  }
}
