//All styling not included in materialize related to forms
.input-field {
  .input-bar {
    position: relative;
    display: block;

    &:before, &:after{
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: $input-accent-color;
      transition: 0.2s ease all;
    }
    &:before {
      left: 0;
    }

  }
  .input-control  {
    background: transparent;
    border-color: $muted-color;
    width: 100%;
    margin-bottom: 0px;
    &:focus,
    &:not(:placeholder-shown) {
      border-color: transparent !important;
      & ~ :before {
        width: 100%;
      }
    }
  }
}

select.padding-fix {
    padding: 9px !important;
}

.input-edit-container {
  min-height: 37px;
  line-height: 37px;
  cursor: pointer;
  i {
    opacity: 0;
  }
  &:hover {
    color: $input-accent-color;
    i {
      opacity: 1;
    }
  }
}
