# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages

# Build directories
dist

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Ignore compiled typescript
/client/**/*.js
/client/**/*.js.map
