@import 'components/variables';
@import 'components/forms';

.main-app {
  width: 100%;
  main {
    height: 100vh;
  }
  footer.main-footer {
    height: 10rem;
    padding: 0;
    p {
      line-height: 10rem;
    }
  }
}

.app-logo {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.nav--super-vertical {
  a {
    i {
      float: right;
    }
  }
}

.card {
  .spacer {
    margin: 35px 0;
    opacity: 0.1;
  }
}
