<div class="card form">
	<h1>Register</h1>
	<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
		<div>
			<label for="email">Email</label>
			<input type="text" name="email" [(ngModel)]="model.email"
				#email="ngModel" required>
			<div [hidden]="email.valid || email.pristine">
				Email is required
			</div>
		</div>

		<div>
			<label for="username">Username</label>
			<input type="text" name="username" [(ngModel)]="model.username"
				#username="ngModel" required>
			<div [hidden]="username.valid || username.pristine">
				Username is required
			</div>
		</div>
		<div>
			<label for="password">Password</label>
			<input class="g--12" type="password" name="password" [(ngModel)]="model.password" 
				#password="ngModel" required>
			<div [hidden]="password.valid || password.pristine">
				Password is required
			</div>
		</div>
		<button class="btn--raised btn--blue" [disabled]="!registerForm.form.valid" type="submit">Register</button>
		<div *ngIf="error != null">
			{{error}}
		</div>
	</form>
</div>