<div class="card">
	<div class="g--12 no-margin-vertical">
		<h2>Add a New Item</h2>
		<p>Need to add another item? Enter it here!</p>
	</div>
	<div class="td-list g--12 no-margin-vertical">
		<div class="td-list-item container--center">
			<div class="g--8 g-s--12 nudge--right no-margin-vertical">
				<div class="input-field">
					<input id="todoInput" [(ngModel)]="currentTodo" type="text" class="input-control" placeholder="Enter a new Todo item" #in (keyup.enter)="addTodo({task: in.value, importance: im.value, completed: false})">
					<span class="input-bar"></span>
				</div>
			</div>
			<div class="g--4 g-m--4 g-s--12 g-t--12 no-margin-vertical container--baseline">
				<select #im class="g--8 padding-fix">
					<option value="1" selected>Low Importance</option>
					<option value="2">Medium Importance</option>
					<option value="3">High Importance</option>
				</select>
				<button class="btn--raised g--2 m--1 g-m--3 g-s--3 g-t--3 no-margin-vertical right" (click)="addTodo({task: in.value, importance: im.value, completed: false})"><i class="fa fa-plus" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
	<hr class="spacer" />
	<div class="g--12 no-margin-vertical">
		<h2>My Todo List</h2>
		<p>This is where you'll edit and keep track of all the items on your todo list.</p>
	</div>
	<div class="td-list g--12">
		<ul>
			<li *ngFor="let todo of todos">
				<todo (todoUpdated)="todoUpdated($event)" [todo]="todo"></todo>
			</li>
		</ul>
	</div>
</div>
