<div class="tile">
	<div class="g--12 no-margin-vertical">
		<h2>Add a New Item</h2>
		<p>Need to add another item? Enter it here!</p>
	</div>
	<div class="td-list g--12">
		<div class="td-list-item container--center">
			<div class="g--6 g-s--12 nudge--right no-margin-vertical">
				<div class="input-field">
					<input id="todoInput" type="text" class="input-control" placeholder="Enter a new Todo item" #in (keyup.enter)="addTodo({task: in.value, importance: im.value, completed: false})">
					<span class="input-bar"></span>
				</div>

			</div>
			<div class="g--6 g-s--12">
				<select #im class="g--5 padding-fix">
					<option value="1" selected>Low Importance</option>
					<option value="2">Medium Importance</option>
					<option value="3">High Importance</option>
				</select>
				<button class="nudge--right g--3 g-m-6 nudge--left btn--raised" (click)="addTodo({task: in.value, importance: im.value, completed: false})"><i class="fa fa-plus" aria-hidden="true"></i> Add Item</button>
			</div>
		</div>
	</div>
</div>
<div class="tile">
	<div class="g--12 no-margin-vertical">
		<h2>My Todo List</h2>
		<p>This is where you'll edit and keep track of all the items on your todo list.</p>
	</div>
	<div class="td-list g--12">
		<ul>
			<li *ngFor="let todo of todos">
				<todo (todoUpdated)="todoUpdated($event)" [todo]="todo"></todo>
			</li>
		</ul>
	</div>
</div>
