<header class="container--baseline bg--belize">
  <!-- <image class="app-logo" src="images/eagle.png" /> -->
  <div class="g--6">
    <h1>Blue Eagles Todo</h1>
  </div>

  <input type="checkbox" id="nav--horizontal-responsive">
  <label for="nav--horizontal-responsive">MENU</label>
  <nav *ngIf="!loggedIn" class="g--6 nav--horizontal">
    <ul>
      <li><a class="nav-fix" [routerLink]="['/login']">Login</a></li>
      <li><a class="nav-fix" [routerLink]="['/register']">Register</a></li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>
<div *ngIf="loggedIn">
  {{user.username}} {{user.email}}
  <button (click)="logout()">Logout</button>
</div>
